---
import { ViewTransitions } from "astro:transitions";

import "@/styles/library/animate.min.css";
import "@/styles/common/theme.css";
import "@/styles/common/theme-rwd.css";
import "@/styles/common/theme-default.css";
import "@/styles/common/iconfont.css";
import "@/styles/library/animate.min.css";
import "swiper/css";
import "swiper/css/pagination";
import "swiper/css/navigation";
import "swiper/css/effect-fade";

interface Props {
  title: string;
  description?: string;
  image?: string;
  metaTitle?: string;
  metaDescription?: string;
}

const {
  title,
  description,
  image = "/og.jpg",
  metaTitle = title,
  metaDescription = description,
} = Astro.props;
---

<!-- Global Metadata -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- Sitemap *** -->
<!-- <link rel="sitemap" href="/sitemap-index.xml" /> -->

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta
  name="title"
  content={metaTitle ? `${metaTitle}` : "Deemak Thai Massage"}
/>
<meta name="description" content={metaDescription} />

<!-- Favicon -->
<link rel="shortcut icon" type="image/x-icon" href="/favicon/favicon.ico" />
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="/favicon/apple-touch-icon.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="96x96"
  href="/favicon/favicon-96x96.png"
/>
<link rel="manifest" href="/favicon/site.webmanifest" />
<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#3C2631" />
<meta name="generator" content={Astro.generator} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={metaTitle} />
<meta property="og:description" content={metaDescription} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={metaTitle} />
<meta property="twitter:description" content={metaDescription} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<!-- SCRIPTS -->
<script src="../../lib/util.js"></script>
<script src="../../lib/theme.js"></script>

<ViewTransitions />
