---
import "@/styles/services.css";
import "@/styles/service-single.css";

import { getServices } from "@/services/service";
import { urlFor } from "@/lib/sanity";

import Layout from "@/layouts/Layout.astro";
import Media from "@/components/ui/Media.astro";
import type { Service } from "~/sanity/sanity.types";
import ElFeaturedServiceCard from "@/components/homepage/el-FeaturedServiceCard.astro";
import ElServiceCard from "@/components/services/el-ServiceCard.astro";

export async function getStaticPaths() {
  const services = await getServices();
  return services.map((service) => ({
    params: { slug: service.slug?.current },
    props: { service },
  }));
}

const { service } = Astro.props;

const allServices: Service[] = await getServices();
---

<Layout title={service.title || "Service"}>
  <main>
    <article class="service-detail">
      {
        service.mainImage && service.mainImage.asset && (
          <section data-section="banner-ttl">
            <div class="sc-billboard full-screen">
              <div class="cover">
                <Media
                  cover={urlFor(service.mainImage.asset._ref || "").url()}
                  coverType="object-fit"
                  alt={service.mainImage.alt}
                  title={service.mainImage.title}
                />
              </div>

              <div class="content">
                <div class="ttl">
                  <h1>{service.title}</h1>
                </div>
              </div>
            </div>
          </section>
        )
      }

      <section data-section="service-info">
        <div class="sc-inner">
          <div class="container xl">
            <div class="content">
              <div class="highlight">
                <p>{service.highlight}</p>
                <ul class="pricing">
                  {
                    service.pricingOptions?.map((option) => (
                      <li>
                        {option.time} {option.timeUnit} £{option.price}
                      </li>
                    ))
                  }
                </ul>
              </div>
              <div class="description">
                <p>{service.description1}</p>
                {
                  service.description2 && (
                    <div class="description-2-container">
                      <p class="description-2" data-expanded="false">
                        {service.description2}
                      </p>
                      <button class="read-more-btn">Read More</button>
                    </div>
                  )
                }
                <a href="#outer" class="button"> <span>Book Now</span></a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section data-section="service-expectation">
        <div class="content">
          <div class="expectation-image">
            <Media
              cover={urlFor(service.expectationImage?.asset?._ref || "").url()}
              coverType="object-fit"
              alt={`Expectation for ${service.expectationImage?.alt}`}
              title={`Expectation for ${service.expectationImage?.title}`}
            />
          </div>

          <div class="expectation-text">
            <h2>What to Expect</h2>
            <p>{service.expectation}</p>
          </div>
        </div>
      </section>

      <section data-section="service-benefits">
        <div class="sc-inner sc-inner--precedes">
          <div class="container">
            <div class="sc-header line-border">
              <div class="sc-ttl">
                <h4>Benefits</h4>
              </div>
            </div>
            <ol class="benefits">
              {
                service.benefits?.map((benefit, index) => (
                  <li>
                    <span class="number">0{index + 1}</span>
                    <span>{benefit}</span>
                  </li>
                ))
              }
            </ol>
          </div>
        </div>
      </section>

      <section data-section="service-other">
        <div class="sc-inner sc-inner--follows">
          <div class="container">
            <div class="sc-header line-border">
              <div class="sc-ttl">
                <h4>Other Services</h4>
              </div>
            </div>

            <div class="other-service">
              <div class="card-container" data-card-layout="slider">
                <div class="swiper auto">
                  <div class="swiper-wrapper">
                    {
                      allServices
                        .filter((s) => s._id !== service._id)
                        .map((s) => (
                          <div class="swiper-slide">
                            <ElServiceCard service={s} />
                          </div>
                        ))
                    }
                  </div>

                  <div class="swiper-nav">
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </article>
  </main>
</Layout>
